language: python
python:
   - "3.4"
   - "2.7"
# command to install dependencies, e.g. pip install -r requirements.txt
install:

# command to run tests, e.g. python setup.py test
script: python runtests.py
